.square {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  height: 100%;
  color: #4aa;
  font-size: 48px;
  font-weight: bold;
  border: 1px solid #000;
  cursor: pointer;
}

.square.active {
  background-color: #eee;
}